.classpath
.project
/.gradle
/screenshots
/.settings
/bin
*.dat
/config
/build
/crash-reports
/generated
/saves
/world
/run
*.log
*.gz
usercache.json
usernamecache.json
options.txt
/eclipse
/gradle
/.idea
*.launch
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
whitelist.json
