.classpath
.project
/.gradle
/screenshots
/.settings
/bin
*.dat
/config
/build
/crash-reports
/generated
/saves
/world
/run
*.log
*.gz
usercache.json
usernamecache.json
options.txt
/eclipse
/.idea
*.launch
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
whitelist.json
asm/hammercore.xml
mods/HammerLib-1.12.2-2.0.6.19.jar
mods/ThaumicAdditions-1.12.2-12.4.3.jar
CREDITS.txt
README.txt
